@charset "utf-8";
body, html {
    height: 100%;
    margin: 0;
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #4A90E2, #7F8C8D);
    color: rgb(223, 193, 193);
}

.container {
    text-align: center;
}

h2 {
    font-size: 5rem;
    font-family: 'Courier New', Courier, monospace; /* おしゃれなフォントを使用 */
    opacity: 0;
}
.button a {
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: large;
}
.slogan {
    font-size: 30px;
}


.fade-in {
    animation: fadeIn 2s forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}
.float2{
    background: #ffffff15;
    border: 1px solid #ccc;
    color: #333;
    padding:20px 30px;
    display: inline-block;
    text-decoration: none;
    outline: none;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2), 0 0 40px rgba(128, 128, 128, 0.1) ;
    /*アニメーションの設定*/
    transition: all .3s;
    margin-top: 10%;
    border-radius: 30px;
}

/*hoverをしたらボックスの影が拡がり色が濃くなる*/
.float2:hover {
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.4), 0 0 50px rgba(128, 128, 128, 0.1) ;
    border-color: transparent;
}


/*========= レイアウトのためのCSS ===============*/

body{
    vertical-align:middle; 
    padding: 100px 0;
    text-align: center;
}p{
    margin: 0 0 10px 0;
}


